// sscript(src="node_modules/react/dist/react-with-addons.js")
// script(src="node_modules/classnames/index.js")
// script(src="node_modules/react/dist/JSXTransformer.js")
// script(src="node_modules/director/build/director.js")

script src="js/utils.js")
script src="js/client.js")
script src="js/fileModel.js")

script type="text/jsx" src="js/DescriptItem.jsx")
script type="text/jsx" src="js/FileItem.jsx")
script type="text/jsx" src="js/app.jsx")
